body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #4CAF50;
}

h3 {
    color: #555;
    text-align: center;
}
ol {
    text-align: center;
    list-style-position: inside;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 20px;
}

form p,
form label {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10;
}

form input[type="radio"],
form input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}

form label,
form input {
    margin-bottom: 5px;
}

button[type="submit"] {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}
