body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/*first header*/
header {
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 20px;
}

header h1 {
    font-size: 2.5em; 
    margin: 0;
}

/*instruction itu*/
.instructions {
    background-color: #4CAF50; 
    color: white; 
    padding: 20px;
    border-radius: 8px; 
    width: 80%; 
    margin: 20px auto; 
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 20px;
}

.instructions h3 {
    font-size: 1.5em; 
    margin-bottom: 10px;
}

.instructions ol {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 20px;
}

form p,
form label {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10;
}

form input[type="radio"],
form input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}

form label,
form input {
    margin-bottom: 5px;
}

button[type="submit"] {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/*sec header*/
h3 {
    text-align: center;
}


/*for table*/
table {
    width: 70%; 
    border-collapse: collapse;
    margin: 20px auto; 
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


table th,
table td {
    border: 1px solid #ddd;
    padding: 6px 10px; 
    text-align: left;
    font-size: 14px; 
}


table th {
    background-color: #4CAF50;
    color: white; 
    font-weight: bold;
}

table tr {
    background-color: #ffffff; 
    color: #333; 
}

table tr:hover {
    background-color: #e0e0e0;
}

table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

table td:focus {
    outline: 2px solid #4CAF50;
}

@media screen and (max-width: 768px) {
    table {
        width: 100%;
        font-size: 12px;
    }

    table th, table td {
        padding: 5px; 
    }
}

